@media screen {
    .background{
        font-family:Playwrite NO;
        background-color: rgb(175, 235, 255);
        background-image: url('IQUIQUE.png');
        background-repeat: no-repeat;   
        background-size: cover;         
        background-position: center;
    }
    div{
        padding: 1%;
        border-radius: 10px;
        
    }
    .container{
        color: rgb(18, 117, 117);
        border-radius: 10px;
        margin: auto;
    }
   
}